<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context-3.1.xsd
	  http://www.springframework.org/schema/mvc
	 http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd"
	 default-autowire="byName">
	 
	 <!-- 放过静态资源文件 -->
	<mvc:resources location="/statics/" mapping="/statics/**"/>
	<!-- 解决返回的json日期格式 和中文乱码 -->
	<mvc:annotation-driven >
		<mvc:message-converters>			
				<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=utf-8</value>
							<value>application/json</value>
						</list>
					</property>
					<property name="features">
						<list>
							<value>WriteDateUseDateFormat</value>
						</list>
					</property>
				</bean>			
			</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 多视图解析器 -->
	 <context:component-scan base-package="com.sl.sys.control,com.sl.sys.biz.impl"/>
	 
	 <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	 	<property name="prefix" value="/jsp/"/>
		<property name="suffix" value=".jsp"/>
	 </bean> 
	 <!-- 全局异常配置 -->
	 <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.RuntimeException">error</prop>
			</props>
		</property>
	</bean>
	<!-- 上传解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"/>
		<property name="maxUploadSize" value="50000000"/>
	</bean>
</beans>